
header {background-color: #999; margin-bottom: 100px;}

footer {padding-top: 30px; margin-top: 30px;}

img {
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

h1 {text-align: center;}

h3 {text-align: center; margin-top: 3vw;}

p {text-align: center; padding: 0 5vw 0 5vw;}

li{margin-top: 0.5vw;}

table {font-size: 1.2vw;}

.listas {margin-top: 60px; margin-left: 50px;}

pre {text-align: center; margin-top: 10px;}

.card-img-top {
    margin-top: 15px;
    width: 18rem;
    height: auto;
    object-fit: cover;
}

#botaoModal {margin-top: 60px;}

.btn {margin-bottom: 20px;}

.card {margin:4vw auto 0 auto; width: 20rem;}

.card-text {display: inline;}